@font-face {
    font-family: 'Katv ondy';
    src: url('Katvondy_Free.ttf'); /* replace with the path to your font file */
  }

  body{
    background-image: url('webpics/web-bgs/bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    cursor: url('mousepointer.png'), auto;
    font-family: 'Poppins', sans-serif;
    }

.wrapper {
    max-width: 350px;
    min-height: 50px;
    margin: 80px auto;
    padding: 1px 30px 30px 30px;
    background-color: #ecf0f3de;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.wrapper .form-field input[type="date"] {
    width: 310px;
    color: #555555d5;
}

h6{
    text-align: center;
    color: #474747;
    font-size: 30px;
    padding-bottom: -10%;
    padding-top: -10%;
    font-family: 'brush script mt';
}

h2{
margin-left: -20%;
}

.profilepic {
    width: 80px;
    margin: auto;
    padding-bottom: 10%;
}

.profilepic img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    text-align: center;
    color: #555;
    padding-top: 10%;
    padding-bottom: 20%;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    box-shadow: none;
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, #004cff5b, #7bf4ff71, #00d0ffc2);
    color: #000000;
    border: none;
    border-radius: 25px;
    box-shadow: 1px 1px 5px 4px #0000005a;
    letter-spacing: 1.3px;
    margin-bottom: 10%;
    padding-bottom: 9%;
    padding-top: 3%;
    margin-top: 10%;
}

.wrapper .btn:hover {
    background: linear-gradient(to bottom, #00d0ffc2, #7bf4ff71, #004cff5b);
    box-shadow: 1px 1px 5px 4px #d6f5f77e;
    font-size: 22px;
    transition: 1s;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}



@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}


.profile-pic-container {
    margin-left: 35%;
    margin-bottom: 15%;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#profile_picture_preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 3px #5f5f5f,
    0px 0px 0px 5px #ecf0f3,
    8px 8px 15px #a7aaa7,
    -8px -8px 15px #fff;
}

.profile-pic-container input[type="file"] {
    display: none; /* Hide the default file input */
}

/* Optional: Add hover effect */
.profile-pic-container:hover #profile_picture_preview {
    opacity: 0.8;
    box-shadow: 0px 0px 3px #5f5f5f,
    0px 0px 0px 5px #ecf0f3,
    8px 8px 15px #a7aaa7,
    -8px -8px 15px #fff;
}

.overlay-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.571);
    padding: 5px 15px;
    border-radius: 5px;
    display: none; /* Hidden by default */
    border-color: #0056b3;
}

.profile-pic-container:hover .overlay-text {
    display: block; /* Show overlay text on hover */
}